.site-footer{

    padding:1rem;
    background-color: #cdcdce;
    font-size:2rem;

    width:100%;
    z-index:2;
}
.site-footer a{
    color:black;
}
.site-footer a:hover{
    color:grey;
}

#copyright{
    font-size:.6rem;
}

.padding-footer{
    padding:0 .25rem;
}