@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


.carousel-img-control{
    object-position: 50% 40%;
    height: 30rem;
    object-fit: cover;
    width:100%;
}

.carousel-img-control2{
    object-position: 50% 40%;
    height: 25rem;
    object-fit: cover;
}

.carousel-overlay {
    font-family: 'Major Mono Display', monospace;
    background-color:rgba(0,0,0,0.5);
    margin:2rem;
    margin-top: 20rem;
    padding:2rem;
    position: absolute;
    z-index:100;
    color:white;
}
  